// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #001f54;
$primary-invert: findColorInvert($primary);
$danger: #EB5E28;
$danger-invert: findColorInvert($danger);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$application-count: #4F0262;
$application-count-invert: findColorInvert($application-count);
$application-completed: #6E41E2;
$application-completed-invert: findColorInvert($application-completed);
$application-pending: #B93153;
$application-pending-invert: findColorInvert($application-pending);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert),
  "application-count": ($application-count, $application-count-invert),
  "application-completed": ($application-completed, $application-completed-invert),
  "application-pending": ($application-pending, $application-pending-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
